<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ClienteMapper">
	<select parameterType="map" id="consultarClientes" resultMap="ClienteResult">
	select
    c.nombre as nombre1,
    c.documento,
    c.telefono,
    c.direccion,
    c.email,
    c.vetado,
    ir.id as id1,
    ir.fechainiciorenta ,
    ir.fechafinrenta ,
    i.id as id2,
    i.nombre as nombre2,
    i.descripcion as d1,
    i.fechalanzamiento ,
    i.tarifaxdia ,
    i.formatorenta ,
    i.genero ,        
    ti.id as id3,
    ti.descripcion as d2 
    FROM VI_CLIENTES as c 
    left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
    left join VI_ITEMS as i on ir.ITEMS_id=i.id 
    left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id 
	</select>
	
	<select parameterType="map" id="consultarCliente" resultMap="ClienteResult">
	select
    c.nombre as nombre1,
    c.documento,
    c.telefono,
    c.direccion,
    c.email,
    c.vetado,
    ir.id as id1,
    ir.fechainiciorenta ,
    ir.fechafinrenta ,
    i.id as id2,
    i.nombre as nombre2,
    i.descripcion as d1,
    i.fechalanzamiento ,
    i.tarifaxdia ,
    i.formatorenta ,
    i.genero ,        
    ti.id as id3,
    ti.descripcion as d2 
    FROM VI_CLIENTES as c 
    left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
    left join VI_ITEMS as i on ir.ITEMS_id=i.id 
    left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
	<if test="idcli != null">
			where c.documento=#{idcli}
	</if>
	</select>
	
	<select parameterType="map" id="consultarItem" resultMap="ClienteResult">
	select 
	ir.id as idRenta,i
	r.fechainiciorenta, 
	ir.fechafinrenta, 
	i.id as idItem, 
	i.nombre, 
	i.tarifaxdia
	FROM VI_CLIENTES as c 
    left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
    left join VI_ITEMS as i on ir.ITEMS_id=i.id 
	<if test="idcli != null">
			where c.documento=#{idcli}
	</if>
	</select>
	
	<resultMap type='Cliente' id='ClienteResult'>
		<id property='documento' column='documento'/>
		<result property='nombre' column='nombre1'/>
		<result property='telefono' column='telefono'/>  
		<result property='direccion' column='direccion'/>
		<result property='email' column='email'/>
		<result property='vetado' column='vetado'/>
		<collection property='rentados' ofType='ItemRentado' resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentadoMapper.ItemRentadoResult" columnPrefix="ir_"></collection>
	</resultMap>
    

	<insert parameterType="map" id="agregarItemRentadoACliente">
	insert into VI_CLIENTES values(#{idcli},#{idtcli},#{fechaicli},#{fechafincli})
	</insert>
</mapper>