<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentadoMapper">

	<resultMap type='ItemRentado' id='ItemRentadoResult'>
		<id property= 'id' column ='id1'/>
		<result property= 'fechainiciorenta' column='fechainiciorenta'/>
		<result property= 'fechafinrenta' column='fechafinrenta'/>
		<result property= 'fechaLanzamiento' column='fechalanzamiento'/>
		<association property='item' javaType='Item' resultMap='ItemResult' columnPrefix='i_'></association>
		
	</resultMap>
 
</mapper>